body {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
}

#botaoVoltarWeb {
    position: fixed;
    bottom: 10px; /* Altera de top para bottom */
    left: 10px;
    z-index: 1000;
    padding: 10px 20px;
    background-color: #bf7e1a;
    color: #461a0c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


#botaoVoltarWeb:hover {
    background-color: #fab752;
    color: #773622;
}

header{
    width: 185px;
    text-align: center;
    background-color: #461a0c;
    color: white;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo img {
    margin: 20px 0;

    height: auto;
    width: 180px;
}

.cabecalho{
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    font-size: 20px;
    width: 100%;
}

.container-nav-li{
    width: 100%;
}

nav ul li button {
    background-color: #461a0c;
    font-size: 18px;
    border: none;
    width: 100%;
    text-decoration: none;
    color: #fab752;
    padding: 15px 0;
}

nav ul li button:hover {
    font-size: 20px;
    cursor: pointer;
    background-color:  #773622;
}

.content {
    flex-grow: 1;
    padding: 20px;
}
