.main-cadastro {
    font-family: Arial, sans-serif;
    margin: 20px 60px;
    padding: 30px 0;
}
.card-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.card {
    color: #5c4033;
    background-color: #d2b48c;
    border: 1px solid #a0522d;
    border-radius: 8px;
    padding: 20px;
    width: 30%;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
}
.card:hover {
    transform: scale(1.04);
}
.form-section {
    color: #5c4033;
    display: none;
    margin: 60px auto;
    width: 40%;
    padding: 20px 5%;
    border: 1px solid #8b4513;
    border-radius: 8px;
    background-color: #f5f5dc;
    transition: transform 0.1s;
}
.form-section:hover {
    transform: scale(1.04);
}
.form-section h2 {
    padding: 10px 0;
    text-align: center;
}
label {
    display: block;
    margin-top: 20px;
}
input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    background-color: #f5f5dc;
    border: 1px solid #8b4513;
}
input:focus, select:focus {
    outline: none;
    border: 1px solid #8b4513;
}
button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #8b4513;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #a0522d;
}
