/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */

body{
    background-color: #ffffff;
} 


.form-toggle {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}
.hidden {
    display: none;
}

section{
    padding: 0 50px;
}

.card-section {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 40px 20px;
    margin-top: 40px;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    color: #ffffff;
    background-color: #3498db;
    border: none;
    border-radius: 12px;
    padding: 20px;
    width: 220px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    cursor: pointer;
}

.card:hover {
    background-color: #2980b9;
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card.active {
    background-color: #ffffff;
    color: #3498db;
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.card h2 {
    font-size: 1.2rem;
    margin: 0;
}


.registration-section{
    padding: 40px 0;
    display: flex;
    justify-content: center;
}

.form-section {
    position: relative;
    color: #5271ff;
    display: block;
    width: 600px;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 1; 
}

.form-section::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 1%;
    right: 1%;
    height: 10px; 
    background: linear-gradient(to right, #5271ff, #3b5db2);
    border-radius: 8px 8px 0 0; 
    z-index: -1;
}

.form-section h2 {
    padding: 10px 0;
    text-align: center;
}

label {
    display: block;
    margin-top: 20px;
    color: #5271ff;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-group {
    flex: 1;
    margin-right: 20px;
    position: relative;
}

.form-group:last-child {
    margin-right: 0;
}

.error-message {
    color: red;
    position: absolute; /* Faz a mensagem flutuar */
    top: 100%; /* Posiciona a mensagem logo abaixo do campo */
    left: 0;
    width: 100%;
    font-size: 12px;
    margin-top: 2px; /* Espaço entre o campo e a mensagem */
}

input, select {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    margin-top: 10px;
    background: none;
    border: 1px solid #ccc;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
    background-color: #ffffff;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

/* Para Firefox */
input[type="date"] {
    -moz-appearance: textfield; /* Remove o seletor de data */
}

input:focus, select:focus {
    outline: none;
    border: 1px solid #5271ff;
    box-shadow: 0 0 8px rgba(82, 113, 255, 0.5);
}

form button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #5271ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #3b5db2;
    transform: scale(1.05);
}

.container-busca-form-endereco{
text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #2980b9;
    color: white;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #bccbdd;
}

tr.selected {
    background-color: #f2f2f2; /* Cor de fundo da linha selecionada */
    color: #333; /* Cor do texto da linha selecionada */
    font-weight: bold; /* Destacar o texto se desejar */
}



#buscar-enderecos, #buscar-por-cep {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
#buscar-enderecos:hover, #buscar-por-cep:hover {
    background-color: #45a049;
}
#cep-input {
    margin-top: 20px;
    padding: 10px;
    width: 200px;
}


#buscar-por-nomeDentista {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
#buscar-por:hover {
    background-color: #45a049;
}

#nomeDentista-input {
    margin-top: 20px;
    padding: 10px;
    width: 200px;
}

#buscar-por-nomePacientes {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
#buscar-por-nomePaciente:hover {
    background-color: #45a049;
}
#nomePaciente-input {
    margin-top: 20px;
    padding: 10px;
    width: 200px;
}