* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #botaoVoltarWeb {
    position: fixed;
    bottom: 10px; /* Altera de top para bottom */
    left: 10px;
    z-index: 1000;
    padding: 10px 20px;
    background-color: rgb(82,113,255);
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#botaoVoltarWeb:hover {
    background-color: #cfd2f0;
    color: rgb(82,113,255);
    border: 1px solid rgb(82,113,255);
}

body{
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background: linear-gradient(90deg, rgba(82,113,255,1) 40%,rgba(82, 125, 173, 0)60%, rgba(255,255,255,0) 100%);
  background-color: #ffffff;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

header button{
  padding: 10px 20px;
}


.logo img {
  width: 100px;
  height: auto;
  margin-left: 50px;
}

.logo {
  flex: 1;
}

.cabecalho nav .nav-buttons button {
  margin: 0 10px;
  font-size: 18px;
  font-weight: bold;
  color: #5271ff;
  background: none;
  border: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  cursor: pointer;
  text-transform: uppercase;
}

.cabecalho nav .nav-buttons button:hover {
  text-decoration: overline;
}