* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #botaoVoltarWeb {
    position: fixed;
    bottom: 10px; /* Altera de top para bottom */
    left: 10px;
    z-index: 1000;
    padding: 10px 20px;
    background-color: #bf7e1a;
    color: #461a0c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#botaoVoltarWeb:hover {
    background-color: #fab752;
    color: #a07062;
}

body{
  height: 100vh;
  padding-left: 185px;
}

.cabecalhoUsuario{
  width: 100%;
  height: 70px;
  display: inline-block;
}
.user-info {
  padding: 5px 30px;
  display: flex;
  align-items: center;
  background-color: #b84848;
  justify-content: end;
}
.foto-cabecalho {
  width: 60px; 
  height: 60px;
  border-radius: 50%;
  margin: 5px 20px;
}
.name-username {
  display: flex;
  flex-direction: column;
}
.name-username span {
  font-size: 1.2em;
  color: #333;
}