html, body {
    height: 100%;
    margin: 0;
    display: flex;
}

body {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
}

header {
    width: 185px;
    text-align: center;
    background-color: #461a0c;
    color: white;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 0px;
}

.logo img {
    padding: 15px 0;
    height: auto;
    width: 180px;
}

.cabecalho {
    width: 100%;
    flex-grow: 1;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

nav ul li {
    font-size: 20px;
    width: 100%;
}

nav ul li button {
    background-color: #461a0c;
    font-size: 18px;
    border: none;
    width: 100%;
    text-decoration: none;
    color: #fab752;
    padding: 15px 0;
}

nav ul li button:hover {
    font-size: 20px;
    cursor: pointer;
    background-color: #773622;
}

.content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 185px; /* Adicione esta linha para evitar que o conteúdo fique sob o cabeçalho fixo */
    overflow-y: auto; /* Adicione esta linha para permitir a rolagem vertical */
}
