<header class="vertical-header">
    <div class="logo">
        <img src="/img/logo-marrom.png" alt="Logo">
    </div>
    <div class="cabecalho">
        <nav>
            <ul>
                <li>
                    <button>Home</button>
                </li>
                <li>
                    <button>Dashboard</button>
                </li>
                <li>
                    <button>Colaboradores</button>
                </li>
                <li>
                    <button>Financeiro</button>
                </li>
                <li>
                    <button>Controle de Estoque</button>
                </li>
                <li>
                    <button>XXX</button>
                </li>
            </ul>
        </nav>
    </div>
</header>